[Unit]
Description=MatrixGPT bot.
After=network.target

[Service]
User=matrix-bots
WorkingDirectory=/srv/MatrixGPT
ExecStart=/srv/MatrixGPT/venv/bin/python3 /srv/MatrixGPT/main.py --config /etc/matrixgpt/config.yaml
SyslogIdentifier=matrixgpt
Restart=always

[Install]
WantedBy=multi-user.target
